<!-- Product Details -->

<div class="product_details">
	<div class="container">
		<div class="row details_row">

			<!-- Product Image -->
			<div class="col-lg-6">
				<div class="details_image">
					<div class="details_image_large"><img src=<%- items[0].img_path%> alt=""></div>
				</div>
			</div>

			<!-- Product Content -->
			<div class="col-lg-6">
				<div class="details_content">
					<div class="details_name"><%- items[0].Product_name %></div>
					<div class="details_price">판매자 : <%- items[0].Member_id %></div><br>
					<div class="details_price"><%- items[0].Product_price %> 원</div>

					<!-- In Stock -->
<<<<<<< HEAD
					<div class="in_stock_container">
						<div class="availability">Availability:</div>
						<% if(availability == "yes") { %>
							<span>In Stock</span>
						<% } else { %>
							<span>Sold Out</span>
						<% } %>
					</div>
=======
					<% if(items[0].status == 0) { %>
						<div class="in_stock_container">
							<div class="availability">진행 상황:</div>
							<span>구매 신청 가능</span>
						</div>	
					<% } else { %>	
						<div class="in_stock_container2">
								<div class="availability">진행 상황:</div>
								<span>구매 진행중</span>
						</div>	
					<% } %>
					
>>>>>>> 0361ff5afcfb1163c542d1779e7506614bd620dc
					<div class="details_text">
						<p><%- items[0].Product_content%></p>
					</div>

					<!-- Product Quantity -->
					<div class="product_quantity_container">
						<div class="button cart_button"><a href="#" onclick="buyrequest()" >구매 요청</a></div>
						<script>
							function buyrequest(){
								//if(userid==items[0].)
								location.href = "/request?pid=<%- items[0].Product_id%>";
								alert("구매요청이 완료되었습니다.");
							}	
						</script>
						<div class="button cart_button"><a href="/test/history/<%- items[0].Member_id %>"" onclick="window.open(this.href, '_blank', 'width=가로사이즈px,height=세로사이즈px,toolbars=no,scrollbars=no'); return false;">판매자 정보 보기</a></div>
					</div>

					<!-- Share -->
					<div class="details_share">
						<span>Share:</span>
						<ul>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- 지우지마시오 (칸채우기용) -->
		<div class="row description_row"></div>
		
	</div>
</div>
